.sidebar-logo {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;

  img {
    height: 55px;
  }
}

mat-list-item {
  cursor: pointer;
  padding: 15px 20px;
  transition: background-color 0.2s ease;
  border-radius: 0 !important;

  &.active {
    background-color: #f2f2fd;
    border-radius: 0;
    span,
    mat-icon {
      color: #636ae8;
    }
  }

  &:hover {
    background-color: #f2f2fd;
    border-radius: 0;
    span,
    mat-icon {
      color: #636ae8;
    }
  }
  div {
    display: flex;
    gap: 16px;
  }

  mat-icon {
    color: #565e6c;
  }

  span {
    font-size: 16px;
    font-weight: 500;
    color: #565e6c;
  }
}

app-profile {
  margin-top: 20px;
}
