<h2 mat-dialog-title>{{ data.isNewCustomer ? 'Neuen Kunden erstellen' : 'Kunden bearbeiten' }}</h2>
<mat-dialog-content>
	<form [formGroup]="customerForm">
		<!-- Formularfelder für Kundendetails -->
		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Vorname</mat-label>
			<input formControlName="firstName" matInput>
		</mat-form-field>

		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Nachname</mat-label>
			<input formControlName="lastName" matInput>
		</mat-form-field>

		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Firma</mat-label>
			<input formControlName="company" matInput>
		</mat-form-field>

		<mat-form-field appearance="outline" class="full-width">
			<mat-label>E-Mail</mat-label>
			<input formControlName="email" matInput type="email">
		</mat-form-field>

		<mat-form-field appearance="outline" class="full-width">
			<mat-label>Kundentyp</mat-label>
			<mat-select formControlName="customerType">
				<mat-option value="lead">Lead</mat-option>
				<mat-option value="prospect">Interessent</mat-option>
				<mat-option value="customer">Kunde</mat-option>
				<mat-option value="former">Ehemaliger Kunde</mat-option>
			</mat-select>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Abbrechen</button>
	<button (click)="saveCustomer()" [disabled]="customerForm.invalid" color="primary" mat-raised-button>Speichern</button>
</mat-dialog-actions>