:host {
  display: block;
}

h2[mat-dialog-title] {
  margin: 0 0 24px;
  font-weight: 500;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--mat-sys-primary);
    margin-top: 8px;
    border-radius: 2px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  padding: 16px;

  .theme-dark & {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.full-width {
  width: 100%;
  margin-bottom: 16px;

}

mat-dialog-content {
  padding: 0;
  overflow-y: auto;
  max-height: 65vh;
}

mat-dialog-actions {
  margin-bottom: 0;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  padding-right: var(--mat-sys-corner-extra-large);
}

@keyframes formFieldAppear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

mat-form-field {
  animation: formFieldAppear 20ms ease backwards;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
}

@media (max-width: 600px) {
  mat-dialog-content {
    max-height: 70vh;
  }

  .full-width {
    margin-bottom: 12px;
  }

  button {
    min-width: 90px;
  }

  h2[mat-dialog-title] {
    margin-bottom: 16px;
    font-size: 1.4rem;
  }

  form {
    padding: 12px;
  }
}