:host {
  margin: auto
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 2rem;

  .hero-content {
    max-width: 800px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }

    button {
      font-size: 1rem;
    }
  }
}
