<div class="signup-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="signup-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix>mail</mat-icon>
      <input formControlName="email" matInput placeholder="Email" type="email"/>
      @if (email?.touched && email?.hasError('required')) {
        <mat-error>Eine E-Mail-Adresse ist <strong>erforderlich</strong></mat-error>
      }

      @if (email?.touched && email?.hasError('email')) {
        <mat-error>Bitte geben Sie eine g ltige E-Mail-Adresse ein</mat-error>
      }
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input
        [type]="isPasswordVisible() ? 'text' : 'password'"
        formControlName="password"
        matInput
        placeholder="Passwort"
      />
      <button
        (click)="togglePasswordVisibility()"
        aria-label="Passwort-Sichtbarkeit umschalten"
        mat-icon-button
        type="button"
      >
        <mat-icon>{{ isPasswordVisible() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (password?.touched && password?.hasError('required')) {
        <mat-error>Ein Passwort ist <strong>erforderlich</strong></mat-error>
      }
      @if (password?.touched && password?.hasError('minlength')) {
        <mat-error>Das Passwort muss mindestens 6 Zeichen lang sein</mat-error>
      }
    </mat-form-field>


    <button
      [disabled]="isLoading() || signupForm.invalid"
      class="full-width-btn"
      mat-raised-button
      type="submit"
    >
      @if (isLoading()) {
        <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
      } @else {
        Anmelden
      }
    </button>

    <p class="or">oder</p>


    <div class="social-logins">
      <button
        (click)="signInWithGoogle()"
        [disabled]="isLoading()"
        class="full-width-btn"
        color="primary"
        mat-raised-button
        type="button"
      >
        <mat-icon class="social-icon">google</mat-icon>
        Mit Google anmelden
      </button>
      <button
        (click)="signInWithGithub()"
        [disabled]="isLoading()"
        class="full-width-btn"
        color="primary"
        mat-raised-button
        type="button"
      >
        <mat-icon class="social-icon">github</mat-icon>
        Mit Github anmelden
      </button>
    </div>
  </form>
</div>
