<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
    @if (signInForm.get('email')?.hasError('required')) {
    <mat-error> Email is required </mat-error>
    } @if (signInForm.get('email')?.hasError('email')) {
    <mat-error> Invalid email </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required />
    @if (signInForm.get('password')?.hasError('required')) {
    <mat-error> Password is required </mat-error>
    }
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Sign in</button>
</form>
<div class="social-logins">
  <button mat-raised-button color="warn" (click)="signInWithGoogle()">
    <mat-icon>google</mat-icon>
    <fa-icon [icon]="['fab', 'google']"></fa-icon>
    Sign in with Google
  </button>
  <button mat-raised-button color="primary" (click)="signInWithGithub()">
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
    Sign in with Github
  </button>
</div>
