.app-header {
  width: 100%;
  padding: 0.75rem 0;
  display: flex;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 2rem;
  width: 2rem;
  color: var(--mat-sys-primary);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}