// styles/_mixins.scss
@use "sass:map";
@use "./variables" as vars;

// generisches Media-Query-Mixin
@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map.get(vars.$grid-breakpoints, $breakpoint)) {
    @content;
  }
}

// Beispiel Container-Mixin
@mixin container($max-width: 1920px) {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $max-width;
  width: 100%;

  @include media-breakpoint-up(sm) {
    padding: 0 2rem;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 4rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 0 5rem;
  }
  @include media-breakpoint-up("2xl") {
    padding: 0 6rem;
  }
}
