// styles/_theme.scss
@use "./variables" as vars;

$theme-map: (
  light: vars.$theme-light,
  dark: vars.$theme-dark,
);

@function theme($theme-name, $key) {
  $theme-values: map-get($theme-map, $theme-name);
  @if $theme-values == null {
    @error "Unknown theme “#{$theme-name}”. Available: #{map-keys($theme-map)}.";
  }
  $value: map-get($theme-values, $key);
  @if $value == null {
    @error "Unknown key “#{$key}” in theme “#{$theme-name}”. Available: #{map-keys($theme-values)}.";
  }
  @return $value;
}

@each $name, $_ in $theme-map {
  .theme-#{$name} {
    background-color: theme($name, bg);
    color: theme($name, fg);

    a {
      color: theme($name, accent);
    }
  }
}
