<div class="edit-user-dialog">
  <h2>Edit User</h2>
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter username" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input
        matInput
        formControlName="firstName"
        placeholder="Enter first name"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input
        matInput
        formControlName="lastName"
        placeholder="Enter last name"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Enter new password"
      />
    </mat-form-field>

    <!-- Admin-Only Fields -->
    <div *ngIf="isAdmin">
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox formControlName="isVerified">Verified</mat-checkbox>
    </div>

    <div class="actions">
      <button mat-button type="button" mat-dialog-close (click)="onCancel()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        class="save-button"
        type="submit"
      >
        Save Changes
      </button>
    </div>
  </form>
</div>
