<div class="profile-overview">
  <mat-card class="main-card" *ngIf="user">
    <mat-card-content>
      <div class="profile-header">
        <div class="avatar-wrapper">
          <div class="avatar">
            <img
              *ngIf="user.profilePicture; else defaultAvatar"
              [src]="user.profilePicture"
              alt="User Avatar"
            />
            <ng-template #defaultAvatar>
              <div class="placeholder-avatar">
                {{ user.firstName[0] }}{{ user.lastName[0] }}
              </div>
            </ng-template>
          </div>
          <button mat-mini-fab color="primary" class="change-avatar-btn">
            <mat-icon>photo_camera</mat-icon>
          </button>
        </div>
        <div class="profile-info">
          <h1 class="user-name" *ngIf="user">{{ user.username }}</h1>
          <div class="icon-label">
            <mat-icon *ngIf="user.role === 'admin'" class="admin">security</mat-icon>
            <mat-icon *ngIf="user.role === 'user'" class="user">person</mat-icon>
            <span class="label">{{ user.role | titlecase }}</span>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" class="edit-profile-btn" (click)="editProfile()">
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <mat-divider></mat-divider>
      <div class="profile-details">
        <h3>Additional Information</h3>
        <div class="info-container">
          <div class="info-item">
            <div class="icon-label">
              <mat-icon>person</mat-icon>
              <span class="label">Full Name:</span>
            </div>
            <span class="value">{{ user.firstName }} {{ user.lastName }}</span>
          </div>
          <div class="info-item">
            <div class="icon-label">
              <mat-icon>calendar_today</mat-icon>
              <span class="label">Joined Date:</span>
            </div>
            <span class="value">{{ user.createdAt | date: 'mediumDate' }}</span>
          </div>
          <div class="info-item">
            <div class="icon-label">
              <mat-icon>update</mat-icon>
              <span class="label">Last Update:</span>
            </div>
            <span class="value">{{ user.updatedAt | date: 'mediumDate' }}</span>
          </div>
          <div class="info-item">
            <div class="icon-label">
              <mat-icon>verified</mat-icon>
              <span class="label">Verified:</span>
            </div>
            <span
              class="value"
              [ngClass]="user.isVerified ? 'verified-true' : 'verified-false'"
            >
              {{ user.isVerified ? 'Verified' : 'Not Verified' }}
            </span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
