.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  // justify-content: space-between;
  padding: 20px;
}

.chart-card {
  flex: 1;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
