<h2 mat-dialog-title>Profil bearbeiten</h2>
<mat-dialog-content>
	<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
		<div class="form-container">
			<mat-form-field appearance="outline">
				<mat-label>Benutzername</mat-label>
				<input formControlName="username" matInput placeholder="Ihr Name">
				<mat-icon matSuffix>person</mat-icon>
				<mat-hint>Wie möchten Sie genannt werden?</mat-hint>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>E-Mail</mat-label>
				<input formControlName="email" matInput placeholder="Ihre E-Mail-Adresse" type="email">
				<mat-icon matSuffix>email</mat-icon>
			</mat-form-field>

			<div class="form-actions">
				<button (click)="onCancel()" mat-button type="button">Abbrechen</button>
				<button
							[disabled]="!profileForm.valid || !profileForm.dirty"
							color="primary"
							mat-raised-button
							type="submit"
				>
					Speichern
				</button>
			</div>
		</div>
	</form>
</mat-dialog-content>
