// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use './styles/reset';
@use './styles/mixins' as *;
@use '@angular/material' as mat;
@use './styles/styles_theme-colors' as my-theme;

html {
  @include mat.theme((
          color: (
                  primary: my-theme.$primary-palette,
                  tertiary: my-theme.$tertiary-palette,
                  theme-type: light,
          ),
          typography: Roboto,
          density: 0,
  ));
}

// Light Theme
.theme-light, html:not(.theme-dark) {
  @include mat.theme((
          color: (
                  primary: my-theme.$primary-palette,
                  tertiary: my-theme.$tertiary-palette,
                  theme-type: light,
          ),
          typography: Roboto,
          density: 0,
  ));
  background: linear-gradient(120deg, #f8fafc 0%, #e0e7ef 100%);
}

// Dark Theme
.theme-dark {
  @include mat.theme((
          color: (
                  primary: my-theme.$primary-palette,
                  tertiary: my-theme.$tertiary-palette,
                  theme-type: dark,
          ),
          typography: Roboto,
          density: 0,
  ));
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  --mat-sidenav-container-width: 200px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--mat-sys-on-surface);

}


.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.container {
  @include container();

}

main {
  flex: 1 1 auto;
  width: 100%;
}

.flexbox-column {
  @include flexbox($direction: column, $justify: flex-start, $align: flex-start)
}

.flexbox-center {
  @include flexbox()
}

.flexbox-column-between {
  @include flexbox($direction: column, $justify: space-between, $align: start)
}

.app-snackbar {
  font-size: 1rem;
}

.snackbar-success * {
  background-color: #4caf50 !important;
  color: #fff !important;
}

.snackbar-error * {
  background-color: var(--mat-sys-error-container) !important;
  color: var(--mat-sys-error) !important;
}

.snackbar-warning * {
  background-color: #ffeb3b !important;
  color: var(--mat-sys-on-background) !important;
}
