@use "@angular/material" as mat;

.mobile-menu-panel {
  width: 260px;

  @include mat.menu-overrides(
    (
      container-color: #3f51b5,
      divider-color: rgba(255, 255, 255, 0.2),
      item-label-text-color: white,
      item-icon-color: white,
      item-hover-state-layer-color: rgba(255, 255, 255, 0.08),
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
